---
layout: default
---
<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 col-md-8 text-center mx-auto" style="background-color: white; border-radius: 5px; ">
        <blockquote class="blockquote">{{ page.quote }}
            <p class="text-right mt-3"><cite>{{ page.author }}, <a href="{{ page.worldcat }}" target="_blank">{{ page.title }}</a></cite></p>
          </blockquote>
          <!--<cite>{{ page.author }}, <a href="{{ page.worldcat }}" target="_blank">{{ page.title }}</a></cite>-->
      </div>

    <div class="col-12 col-md-8 mx-auto text-center">
        {% if page.previous.url %} 
                    <a class="btn btn-primary" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; previous<span class="d-none d-md-inline"> {{ page.layout | lowercase }}</span></a>
                {% endif %}
        <a class="btn btn-primary mx-auto" href="{{ '/' | absolute_url }}"><i class="fas fa-home" aria-hidden="true"></i> home</a>
        <a class="btn btn-primary mx-auto" href="{{ '/quotes' | absolute_url }}"><i class="fas fa-quote-left" aria-hidden="true"></i> all</a>
         {% if page.next.url %}
                    <a class="btn btn-primary" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">next<span class="d-none d-md-inline"> {{ page.layout | lowercase }}</span> &rarr;</a>
        {% endif %}
    </div>

    </div>
  </div>
</header>
